body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* background-color: whitesmoke; */
}

.form-group {
    margin-bottom: 20px;
}
fieldset{
    border: 3px solid yellowgreen;
    border-radius: 5px;
}

label {
    font-weight: bold;
}

select, input[type="text"], input[type="date"], input[type="email"], input[type="tel"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.checkbox-group {
    display: flex;
    align-items: center;
}

.checkbox-group label {
    margin-right: 10px;
}

.btn-container {
    text-align: center;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
   
}

#submitBtn:hover{

    background-color: red;
    color: wheat;
    
}
#resetBtn:hover{

    background-color: red;
    color: wheat;

}
h2{
    color: midnightblue;
}
.popup {
    display: none;
    background: white;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}